{% extends 'base.html' %}
{% block title %}{{ user_obj.get_full_name }}{% endblock %}

{% block content %}

    <div class="container mt-3 card">
        <div class="card-body">
            <h4 class="card-title">Страница пользователя {{ user.username }}</h4>
            <h5>Имя: {{ user.first_name }}</h5>
            <h5>Телефон: {{ user.phone_number }}</h5>


        </div>
        <div>
            {% if request.user == user %}
                <a href="{% url 'accounts:user_change' pk=user.pk %}" class="btn btn-primary my-2">Редактировать
                    профиль</a>
            {% endif %}
        </div>
    </div>

        {% include 'partial/advert.html' %}

{% endblock %}