{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %} 

{% if adverts %}
    {% for advert in adverts %}
        <div class="card m-3" style="width: 50%;">
    
            <div class="card-body">
                <h5 class="card-title">{{ advert.title }}</h5>
                <p class="card-text">Категория: {{ advert.advert_category }}</p>
            </div>
    
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Описание: {{ advert.description }}</li>
                <li class="list-group-item">Цена: {{ advert.price }} $</li>
            </ul>
    
            {% if advert.photo %}
                <img src="{{ advert.photo.url }}" alt="AdvertPhoto" width="300" height="250">
            {% endif %}
    
            <div class="card-body">
                <p>Разместил: <a
                        href="{% url 'accounts:user_detail' pk=advert.author.id %}">{{ advert.author.username }}</a></p>
                <p>Опубликовано: {{ advert.published }}</p>
                <a href="{% url 'webapp:advert_view' pk=advert.pk %}" class="card-link">Подробнее..</a>
                {% if request.user == advert.author %}
                    <a href="{% url 'webapp:advert_update' pk=advert.pk %}" class="card-link">Редактировать</a>
                    <a href="{% url 'webapp:advert_delete' pk=advert.pk %}" class="card-link">Удалить</a>
                {% endif %}
            </div>
    
        </div>
    {% endfor %}
{% endif %}